body{
	margin: 0%;
	padding: 0%;
	font-family: 'Roboto Flex', sans-serif;

}
.HOME_PAGE{
	background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)),url(1.jpg);
	min-height: 100%;
	height: 100vh;
	background-size: cover;
	background-position: center;
	position: relative;
}
/**************************
*CSS For Logo starts here *
***************************/
.logo h{
	font-size:30px;
	padding-left: 25%;
	margin-top: 15%;
	color: aliceblue;
	cursor: pointer;
}
.logo h1{
	font-size: 18px;
	margin-top: 0%;
	padding-left: 25%;	
	color: lawngreen;
	cursor: pointer;
}

/***********************************
CSS for Navagation bar starts here *
************************************/
nav{
	display: flex;
	justify-content: space-between;
	
	
}

.Navagation_items ul{
	display: flex;
	justify-content: center;
	margin-top: 0%;
	padding-top: 0%;
	
	
}
.Navagation_items ul a{
	color: aliceblue;
	text-decoration: none;
	padding: 10px;	
	font-size: 15px;
	
}
.Navagation_items ul li{
	list-style: none;
	margin-top: 6%;
	margin-right: 70px;
	
}
.Navagation_items ul li a::after{
	content: '';
	width: 0%;
	height: 3px;
	background: lawngreen;
	display: block;
	margin: auto;
	transition: 0.1s;
}
.Navagation_items ul li a:hover::after{
	width: 100%;

}
.Name{
	margin-top: 5%;
	margin-left: 15%;
}
.Woodland {
	font-size: 55px;
	color: aliceblue;
}
.College{
	font-size: 55px;
	color: lawngreen;
}
